body{
    background-color: rgb(0, 0, 0);
}

.container{
    padding: 5px 5px;
}

img{
    height: 200px;
    width: 200px;
    margin-top: 5%;
}
.card-header{
    font-family: 'verdana', 'Arial Narrow', Arial, sans-serif;
    background-color: #1b1b1bea;
    color: white;
    
}
.card{
    font-family :'Times New Roman', sans-serif;
    font-weight: bold;
    margin: 5px 5px;
    text-align: center;
    background-color: rgb(121, 121, 121);
    color: white;
    
}
.col{
    padding: 3px 0;
}
.card-text{
    padding: 5px;
    color: black;
}
button{
    margin-top: 10px;
    border: 1px solid black;
}